<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654550111423-3m8mlon7i3rg5rqh73dnqbd7bi7mh975.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654550111423-3m8mlon7i3rg5rqh73dnqbd7bi7mh975</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654550111423-9qmmsqkdd9vah201viujs5559f2rgr2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0EUNZOmPnwdMxQi33YMOWB_CBQXHG14</string>
	<key>GCM_SENDER_ID</key>
	<string>654550111423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.donar</string>
	<key>PROJECT_ID</key>
	<string>donar-hnr8wa</string>
	<key>STORAGE_BUCKET</key>
	<string>donar-hnr8wa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654550111423:ios:b9f1fcc493565c9ff0220a</string>
</dict>
</plist>